<div class="content-section">
  <mat-card class="card">
    <mat-card-header>
      <mat-toolbar>
        <mat-card-title style="font-size:17px">Utility</mat-card-title>
      </mat-toolbar>
    </mat-card-header>
    <form [formGroup]="utilityForm" (ngSubmit)="onConfirm()">
    <mat-card-content class="utility-card-content">
      <div class="myMatOptions">
      <mat-form-field>
        <mat-select formControlName="utilityType" backdropClass="repo-list" placeholder="Select Utility Type"  required disableOptionCentering>
          <mat-option *ngFor="let ulist of utlilityList" [value]="ulist">{{ulist.utilityTitle}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="submit-btn" mat-button mat-raised-button [disabled]="!utilityForm.valid">Go to Module</button>
      </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
