<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" *ngIf="getLoginStatus()">
  <div class="navbar-brand"><img [src]="'../assets/mainLogo.png'"></div>
 
  <div class="collapse navbar-collapse" id="navbarsDefault" [ngClass]="{ 'show': navbarOpen }">
      <div class="navbar-nav mr-auto">
          <a class="btn" [routerLink]="['/home']" routerLinkActive="active" (click)="onMenuClick()">
            <i class="material-icons icons">
              gps_fixed
            </i>
            Track
          </a>
          <a class="btn" [routerLink]="['/history']" routerLinkActive="active" (click)="onMenuClick()">
            <i class="material-icons icons">
              history
            </i>
            View History
          </a>
          <a class="btn" [routerLink]="['/report']" routerLinkActive="active" (click)="onMenuClick()">
            <i class="material-icons icons">
              file_copy
            </i>
            Reports
          </a>
          
          <a class="btn" [routerLink]="['/utility-module']" routerLinkActive="active" (click)="onMenuClick()">
            <i class="material-icons icons">
              library_add
            </i>
            Utility
          </a>


          <!-- Tasks Management -->
          <div class="btn-group" ngbDropdown role="group" [hidden]="!USAUser" >
            <a class="btn" ngbDropdownToggle>
                <i class="material-icons icons">
                    toys
                </i>
              Task Management
              </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/manage-employee']" routerLinkActive="active" (click)="onMenuClick()"> 
                <i class="material-icons icons">
                  group
                </i>
                Manage Employee
              </a>
              <a class="dropdown-item" [routerLink]="['/tasks']" routerLinkActive="active" (click)="onMenuClick()">
                <i class="material-icons icons">
                  view_week
                </i>
                Tasks
              </a>
              <a class="dropdown-item" [routerLink]="['/download-task']" routerLinkActive="active" (click)="onMenuClick()">
                <i class="material-icons icons">
                  cloud_download
                </i>
                Download Task
              </a>
            </div>
          </div>
          <!-- End Tasks Management -->
          <div class="btn-group" ngbDropdown role="group">
            <a class="btn" ngbDropdownToggle>
                <i class="material-icons icons">
                    person_pin
                </i>
              Profile
              </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/payment']" routerLinkActive="active" [hidden]="!showPayment" (click)="onMenuClick()">
                <i class="material-icons icons">
                  payment
                </i>
                Payment Status
              </a>
              <a class="dropdown-item" [routerLink]="['/feedback']" routerLinkActive="active" (click)="onMenuClick()">
                <i class="material-icons icons">
                  feedback
                </i>
                Feedback
              </a>
               <a class="dropdown-item" [routerLink]="['/demo-videos']" routerLinkActive="active" (click)="onMenuClick()">
                <!-- <i class="material-icons icons">
                  sms
                </i> -->
                How to Use Portal?
              </a>
              <a class="dropdown-item" [routerLink]="['/issue-logging']" routerLinkActive="active" (click)="onMenuClick()">
                <i class="material-icons icons">
                  sms
                </i>
                Issue Register
              </a>
              <a class="dropdown-item" [routerLink]="['']" (click)="doLogout()" (click)="onMenuClick()">
                  <i class="material-icons icons">
                    all_out
                  </i>
                Logout
              </a>
            </div>
          </div>
          <!-- beat module -->
          <!-- <div class="btn-group" ngbDropdown role="group">
            <a class="btn" ngbDropdownToggle>
              Utility
              </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/keymen-beats']" routerLinkActive="active" [hidden]="!showPayment">
                All Keymen Beat
              </a>
            </div>
          </div> -->
          <!-- <div *ngIf="this.loggedUserInfo.accSqliteEnable == 0">
            <div [hidden]="showFeatureAddress == true" style="padding-top: 9px;">
              <mat-spinner strokeWidth="3" [diameter]="30" class="mat-spinner-color"></mat-spinner>
              <span style="color: #fff; font-size: 13px; text-align: middle;">RDPS loading</span>
            </div>
            <div *ngIf="showLoadedMsg" style="padding-top: 9px;">
              <span style="color: white;">RDPS Loaded!!</span>
            </div>
          </div> -->
      </div> 
  </div>

  
  <div class="nav-header-data" [hidden]="loggedUserInfo == null">
      Welcome {{ getCurrentUserName() }}
  </div>
  <div class="toggle-btn" data-target="#navbarsDefault">
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button> 
  </div>
     
</nav>