<div class="section-content">
  <!-- patrolmen beat form -->
    <form [formGroup]="patrolmenBeatForm">
      <!-- <div [hidden]="patrolmenForm"> -->
      <mat-card class="beat-card-two">
        <mat-card-content class="beat-card-content-two">
          <div class="row" style="margin-bottom:10px">
            <div class="col-md-2" style="margin-bottom:10px">
              <label style="font-size: 11px;">Designation/Hierarchy</label>
              <ng-select placeholder="Please select Designation/Hierarchy" [items]="hierarchyData" [virtualScroll]="true" bindLabel="deptName" bindValue="hirachyParentId" formControlName="hierarchy" (change)="getSelectedDevice($event)">
              </ng-select>
            </div>

            <div class="col-md-2">
              <label style="font-size: 11px;">Select Season</label>
              <ng-select placeholder="Please Select Season" [items]="season" [virtualScroll]="true" bindLabel="name" bindValue="value" formControlName="seasonId">
              </ng-select>
            </div>
    
            <div class="col-md-5 col-sm-3" style="font-size: 20px; text-align: center;">
              <strong>Patrolmen Beat Insert</strong>
            </div>

            <div class="btn-group-sm">
              <button type="button" (click)="add()" class="btn" style="text-align: center;background-color: #09a0a0 !important; color: white; margin-right:2px;" mat-raised-button>
                Add row
              </button>
              
              <button type="submit" mat-raised-button (click)="submit()" class="btn" style="background: #09a0a0; color: white; margin-right:2px;">
                Save
              </button>

                <a class="btn" mat-raised-button style="color: white;" [routerLink]="['/patrolmen-beat-status']" style="background: #09a0a0; color: white;font-size: 13.5px; ">
                  View Status
                </a>
            </div>
          </div>
        </mat-card-content> 
    </mat-card>

    <mat-card class="table-mat-card">
      <mat-card-content class="beat-card-content-three">
        <div class="row">
          <p class="col-md-6" style="float:left;"><mat-error>*Please remove extra empty rows before submission.</mat-error></p>
          <p class="col-md-6" style="margin-bottom: 10px; float:right;"><a style="color: red; float:right;" [routerLink]="['/demo-videos']">
            Need Help?</a></p>
        </div>
        <div class="example-container">
          <div class="table-container mat-elevation-z8">
            <table class="table table-responsive" mat-table #table [dataSource]="getFormControls.controls">
          
              <ng-container matColumnDef="Device-No">
                <th [ngClass]="'w-75'" [ngStyle]="{'display': 'none'}" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" > Device Name </th>
                <td [ngClass]="'w-75'" mat-cell *matCellDef="let element; let i = index">
                    <ng-select type="number" style="width:100%" [items]="filteredDevices" [virtualScroll]="true" bindLabel="name" bindValue="student_id" [formControl]="element.get('StudentId')" (change)="onChange($event, i)">
                    </ng-select>
                  <mat-error *ngIf="element.get('StudentId')?.invalid">  
                    <div *ngIf="element.get('StudentId').errors?.required && (element.get('StudentId').dirty || element.get('StudentId').touched)">This is required.</div>  
                  </mat-error>
                </td>
              </ng-container>
  
             
              <ng-container matColumnDef="SectionName">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Section Name </th>
                <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <ng-select [items]="section" [virtualScroll]="true" bindLabel="name" bindValue="id" [formControl]="element.get('SectionName')">
                    </ng-select>
                  <mat-error *ngIf="element.get('SectionName')?.invalid">   
                    <div *ngIf="element.get('SectionName').errors?.required && (element.get('SectionName').dirty || element.get('SectionName').touched)">This is required.</div>  
                  </mat-error>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="KmStart">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Km Start </th>
                    <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                      <input type="text" placeholder="Km Start" [formControl]="element.get('KmStart')" style="width:60px;">
                      <mat-error *ngIf="element.get('KmStart')?.invalid">  
                        <div *ngIf="element.get('KmStart').errors?.required && (element.get('KmStart').dirty || element.get('KmStart').touched)">This is required.</div> 
                      </mat-error>
                        <mat-error *ngIf="element.get('KmStart').errors?.pattern">Enter valid format.</mat-error>
                    </td>
              </ng-container>
             
              <ng-container matColumnDef="KmEnd">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Km End </th>
                <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input type="text" placeholder="Km End" arrow-div [formControl]="element.get('KmEnd')" style="width:60px">
                    <mat-error *ngIf="element.get('KmEnd')?.invalid">
                      <div *ngIf="element.get('KmEnd').errors?.required && (element.get('KmEnd').dirty || element.get('KmEnd').touched)">This is required.</div> 
                    </mat-error>
                    <mat-error *ngIf="element.get('KmEnd').errors?.pattern">Enter valid format.</mat-error>
                </td>
              </ng-container>
               
              <ng-container matColumnDef="start_time1">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time1')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time1').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
            
              <ng-container matColumnDef="end_time1">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                  <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time1')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time1').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time2">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time2')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time2').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time2">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time2')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time2').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time3">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time3')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time3').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time3">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time3')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time3').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time4">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time4')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time4').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time4">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time4')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time4').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time5">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time5')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time5').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time5">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time5')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time5').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time6">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time6')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time6').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time6">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time6')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time6').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time7">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time7')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time7').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time7">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time7')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time7').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="start_time8">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time8')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('start_time8').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="end_time8">
                <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End </th>
                  <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                    <input placeholder="EndTime" arrow-div [formControl]="element.get('end_time8')" style="width:50px;border: 1px solid #ccc;">
                    <mat-error *ngIf="element.get('end_time8').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="delete">
                <th [ngClass]="'w-100'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}">Action</th>
                    <td [ngClass]="'w-100'" mat-cell *matCellDef="let element;let i=index;">
                      <button arrow-div mat-button (click)="delete(i)" style=" background-color: #ff0000af; border-radius: 20px; color: white;" mat-icon-button matTooltip="Delete"> <mat-icon>delete</mat-icon></button>
                    </td>
              </ng-container>
  
              <ng-container matColumnDef="header-row-first-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Device No.
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-sec-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Section Name
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-third-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" >Km Start
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-forth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Km End
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip1-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-1 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip2-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-2 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip3-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-3 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip4-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-4
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip5-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-5 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip6-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-6 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip7-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-7 
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-trip8-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Trip Time-8
                </th>
              </ng-container>
  
              <ng-container matColumnDef="header-row-action-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2">Action
                </th>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-sec-group', 'header-row-third-group','header-row-forth-group','header-row-trip1-group','header-row-trip2-group','header-row-trip3-group','header-row-trip4-group','header-row-trip5-group','header-row-trip6-group','header-row-trip7-group','header-row-trip8-group', 'header-row-action-group']"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <p>
             :
          </p>
        </div>
      </mat-card-content> 
    </mat-card>
    </form>


   <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
   <ng-template #customLoadingTemplate>
       <!-- <div class="loader">
           <img [src]="'../assets/PTLogo.png'">
       </div> -->
   </ng-template>
</div>
