.table-mat-card{
  width: 95%;
  margin: 0 auto 20% auto;
  padding: 10px 10px 0px;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.section-content{
    padding-top: 7%;
    height: 93%;
}
header {
  background-color: rgb(39, 34, 34);
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
mat-icon {
  cursor: pointer;
}

.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
}

.hide-card{
  cursor: pointer;
  text-align: center;
}
.show-card{
    cursor: pointer;
    text-align: center;
}
mat-card-title{
  padding-left: 30%;
}
mat-toolbar{
  height: 50px;
  padding-top: 15px;
  margin: 0 auto;
  width:30%;
}
.beat-card{
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.beat-card-two {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1;
}
.beat-card-three {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.beat-card-content-two{
  display: row;
}
.beat-card-content-three{
  display: row;
  margin-bottom: 30%;
  height: 60%;
}
.beat-card-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:690px){
    .section-content{
        padding-top: 13%;
        height: 87%;
    }
    .beat-card-content{
        display: inherit;
    }
    .beat-card{
        padding: 24px 10px 0px;
    }
}


table {
  width: 100%;
  overflow: auto;
}
/* .table-responsive{
  height: 70%;
  width: 95%;
  margin: 0 auto;
} */
td.mat-cell {
    text-align: center;
    border: 1px solid #bbb6b6;
    padding: 0 !important;
    vertical-align: middle !important;
}
th.mat-header-cell {
  text-align: center;
  border: 1px solid #CCC;
  background-color:#205c69;
  color: #ccc; 
  font-size: 15px;
  padding: 0 !important;
  vertical-align: middle !important;
  /* position: -webkit-sticky;
  position: fixed; */
  /* top: 70px; */
  /* z-index: 1; */
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
  padding: 0 !important;
  text-align: center;
  vertical-align: middle !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding: 0 !important;
  vertical-align: middle !important;
}
/* th.mat-column-SectionName,  td.mat-column-SectionName, th.mat-column-Device-No,  td.mat-column-Device-No {
  flex:35%;
} 
  th.mat-header-delete, td.mat-column-delete {
    flex:35%;
    text-align: center;
  } */

  .w-75{
    max-width: 75%;
  }
.w-100{
  max-width: 100px;
}                     
.mat-input-wrapper{
  width:400px !important;
}
button.mat-button.mat-raised-button[disabled]{
  /* border-radius:1rem; */
  /* padding: 0 2rem; */
  background-color: #e6e8e9!important;
  color:rgb(90, 88, 88)!important;
}

@media screen and (max-width:1399px){
  .content-section{
      padding-top: 6%;
  }
}
@media screen and (max-width:1199px){
  .content-section{
      padding-top: 8%;
  }

}
@media screen and (max-width:1140px){
  .content-section{
      padding-top: 9%;
  }
}
@media screen and (max-width:690px){
  .content-section{
      padding-top: 13%;
  }
 
}
@media screen and (max-width:500px){
  .show-card{
      margin-top: 1rem;
  }
}
@media screen and (max-width:414px){
  .content-section{
      padding-top: 17%;
  }
}
@media screen and (max-width:690px){
  .section-content{
      padding-top: 13%;
      height: 87%;
  }
  .beat-card-content{
      display: inherit;
  }
  .beat-card{
      padding: 24px 10px 0px;
  }
}

input[type=text] {
  border: 1px solid #ccc;
}
