<form [formGroup]="patrolmenUserBeatForm">
  <div>
    <div class="row">
      <mat-form-field class="col-md-6" style="width: 100%">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Your Name">
        <mat-icon matSuffix> person_pin </mat-icon>
        <mat-error>This is required.</mat-error>
      </mat-form-field>
    
      <mat-form-field class="col-md-6" style="width: 100%">
        <mat-label>Contact Number</mat-label>
        <input type="text" matInput formControlName="contactNo" placeholder="Contact No.">
        <mat-icon matSuffix> phone_in_talk </mat-icon>
        <mat-error *ngIf="hasError('contactNo', 'required')">
          This is required.
         </mat-error>
        <mat-error *ngIf="hasError('contactNo', 'maxlength')">
         Invalid length of contact Number
        </mat-error>
        <mat-error *ngIf="hasError('contactNo', 'minlength')">
          Invalid length of contact Number
         </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-12" style="width: 100%">
        <mat-label>Email Id</mat-label>
        <input type="text" matInput formControlName="email" placeholder="Email Id">
        <mat-icon matSuffix> mail </mat-icon>
        <mat-error *ngIf="hasError('email', 'required')">
          This is required.
         </mat-error>
        <mat-error *ngIf="hasError('email', 'pattern')">
         Enter valid Email Id
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-checkbox formControlName="checkbox"><small>By clicking this you agree to update the beat of specific devices, this will be reflected in the daily patrolmen report. </small></mat-checkbox>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <button class="list-group-item list-group-item-action cancel-btn" style=" background-color: #ff0000af;" mat-button mat-raised-button (click)="onDismiss()"><mat-icon style="color: white;">close</mat-icon></button>
    </div>
    <div class="col-md-6">
      <button class="list-group-item list-group-item-action submit-btn" mat-button mat-raised-button [disabled]="patrolmenUserBeatForm.invalid" (click)="submitPatrolmenForm()"  style="background: #09a0a0; color: white;">
        Save
      </button>
    </div>
  </div>
</form>