<div class="content-section">
  <mat-card class="example-card">
    <div class="row">
      <div class="col-md-6">
      <mat-card-header> 
        <mat-card-title>KEYMAN BEAT STATUS</mat-card-title>
      </mat-card-header>
      </div>
      <div class="col-md-6">
        <button class="btn-download float-right" matTooltip="Download in PDF" (click)="generatePdf()">
          <i class="material-icons">cloud_download</i>
        </button>
      </div>
    </div>
    <mat-card-content  style="background: ghostwhite; margin-bottom: 40px;">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="DeviceName">
            <th mat-header-cell *matHeaderCellDef> Device Name </th>
            <td mat-cell *matCellDef="let row"> {{row.Devicename}} </td>
          </ng-container>

          <ng-container matColumnDef="KmStart">
            <th mat-header-cell *matHeaderCellDef> Km Start </th>
            <td mat-cell *matCellDef="let row"> {{row.KmStart}} </td>
          </ng-container>
        
          <ng-container matColumnDef="KmEnd">
            <th mat-header-cell *matHeaderCellDef >Km End</th>
            <td mat-cell *matCellDef="let row"> {{row.KmEnd}} </td>
          </ng-container>

          <ng-container matColumnDef="SectionName">
              <th mat-header-cell *matHeaderCellDef >Section Name</th>
              <td mat-cell *matCellDef="let row"> {{row.SectionName}} </td>
          </ng-container>

          <ng-container matColumnDef="VerificationDate">
            <th mat-header-cell *matHeaderCellDef > Verification Date</th>
            <td mat-cell *matCellDef="let row"> 
              <!-- {{row.ApprovedDate | date}}  -->
              <ng-container *ngIf="row.ApprovedDate;else noApprovedDate">
                <span>
                  {{row.ApprovedDate | date}}
                </span>
                </ng-container>
                <ng-template #noApprovedDate>
                <ng-container>  -- </ng-container>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Approve-Status </th>
            <td mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.isApprove==true;else notApproved">
                  <span style="color: darkgreen; font-weight: 500;" matTooltip="Approved">
                    Approved
                  </span>
                  </ng-container>
                  <ng-template #notApproved>
                  <ng-container  *ngIf="row.isApprove == false" >
                    <span style="color: red; font-weight: 500;" matTooltip="Not Approved">
                      Not Approved
                    </span>
                  </ng-container>
                </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeader;"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
        </table>
      <mat-paginator [pageSizeOptions]="[15,25,50,100,500]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
      <ng-template #customLoadingTemplate>
          <!-- <div class="loader">
              <img [src]="'../assets/PTLogo.png'">
          </div> -->
      </ng-template>
</div>